/* Estilos de la barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 65px; /* Ajusta el padding lateral para que no quede pegado a los bordes */
    background-color: #f9e35c;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0; /* Lo coloca en la parte superior */
    left: 0; /* Lo coloca al borde izquierdo */
    right: 0;
    width: 100%; /* Asegura que el navbar ocupe todo el ancho de la pantalla */
    z-index: 1000; /* Asegura que el navbar quede encima de otros elementos */
    font-size: 1.2rem;
    max-width: 100%; /* Evita que el navbar se desborde en pantallas más grandes */
}

/* Añadir un margen superior al body o contenido para no solapar con el navbar fijo */
body {
    margin-top: 60px; /* Ajusta este valor según la altura de tu navbar */
}

.sidebar {
    display: none; /* Esto oculta completamente la barra lateral */
}


/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar {
        padding: 20px 20px; /* Menos espacio en los bordes */
        font-size: 1.6rem;
    }

    .search-bar {
        display: none; /* Ocultar la barra de búsqueda en pantallas pequeñas */
    }

    .session-links {
        margin-right: 10px; /* Reducir el espacio a la derecha */
    }

    .hamburger {
        width: 35px; /* Hacer el menú hamburguesa más grande */
    }

    .hamburger .bar {
        height: 5px; /* Hacer las barras del menú hamburguesa más gruesas */
    }

    .cart-icon {
        font-size: 1.4rem; /* Reducir el tamaño del icono del carrito */
    }

    .dropdown-menu {
        width: 100%; /* 100% del ancho de la pantalla */
        height: 20vh; /* 30% del largo de la pantalla */
        left: 0; /* Mantener alineado a la izquierda */
        right: 0;
        top: 60px; /* Se ajusta ligeramente si es necesario para el navbar */
    }
}

/* Media queries para pantallas muy pequeñas */
@media (max-width: 480px) {
    .navbar {
        display: flex;
        background-color: white;
        color: black;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        font-size: 1.2rem;
        max-width: 480px;
    }

    .cart-icon {
        right: 20px;
    }

}