/* src/styles/ProductList.css */
.cont {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 12px 0px;
    background-color: #fae588;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;  /* Para evitar que se vea la barra de scroll */
}

.pr-cont {
    margin: 10px 50px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start; 
    overflow-x: auto; /* Permite desplazarse horizontalmente */
    gap: 30px;
    scroll-behavior: smooth;
    padding: 10px;
}

.pr-card {
    min-width: 160px;
    max-width: 160px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    padding: 15px 30px;
    text-align: center;
}

.pr-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.pr-card button {
    margin-top: 10px;
    padding: 10px;
    background-color: #25d366; /* Color verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pr-card button:hover {
    background-color: #1e9e4a; /* Color verde más oscuro */
  }

.product-name {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price {
    margin-top: 10px;
    font-size: 18px;
    color: #FF7C00;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 5px;
    z-index: 2;
    opacity: 0.4;
    transition: opacity 0.3s;
}

.arrow:hover {
    opacity: 0.8;
}

.arrow.left {
    left: 10px; /* Espacio para el clic más amplio */
}

.arrow.right {
    right: 10px;
}

@media (max-width: 480px) {

    .pr-card {
        width: 200px;
    }

    .pr-cont {
        margin: 10px 42px;
    }

    .arrow {
        display: none;
    }

}
