.detailsNavegation {
    padding: 10px 5px;
    font-size: 0.9rem;
    width: 71%;
    margin-top: 90px;
    margin-left: 90px;
}

.detailsNavegation a {
    text-decoration: none;
    color: #000;
}

.detailsNavegation a:hover {
    color: #25d366;
    text-decoration: underline;
}

.detailsNavegation .highlight {
    color: #1e9e4a; /* Color morado similar */
    font-weight: bold;
  }


.qt-btn {
    padding: 8px;
    background-color: #25d366; /* Color verde */
    color: black;
    border: none;
    justify-content: center;
    width: 8%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.qt-btn:disabled {
    background-color: rgba(0, 0, 0, 0.5); /* Color verde más oscuro */
    opacity: 0.4;
}
  
.qt-btn:hover {
    background-color: #1e9e4a; /* Color verde más oscuro */
}

.details-btn {
    padding: 10px;
    background-color: #25d366; /* Color verde */
    color: black;
    border: none;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.details-btn:hover {
    background-color: #1e9e4a; /* Color verde más oscuro */
}

.arrow-details {
    height: 20%;
    position: relative;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 10px;
    z-index: 2;
    opacity: 0.4;
    transition: opacity 0.3s;
}

.arrow-details:hover {
    opacity: 0.8;
}

.dots-details {
    bottom: 20px;
    position: relative;
    display: flex;
    gap: 8px;
}

.dot-details {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.3s;
}

.dot-details.active {
    background-color: black;
}

@media (max-width: 820px) {
    
    .product-details-main {
        width: 100%;
        max-width: 100vw;
        min-height: 340px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        text-align: center;
        background-color: grey;
    }
    
}

@media (max-width: 480px) {


}