.col-full {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2px 2px;
    width: 99%;
    margin: 2px 2px;
  }
  
  .widget_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 280px;  /* Establecer un ancho máximo para que no se extienda demasiado */
  }
  
  .widget-title {
    font-weight: bold;
    display: block;
    margin-top: 15px; /* Aumentar el margen superior entre el título y el texto */
    font-size: 16px;
    word-wrap: break-word;
    max-width: 100%;
  }
  
  .textwidget {
    margin: 20px 0;
    text-align: center;
  }
  
  .textwidget i {
    font-size: 60px;
    margin-bottom: 5px; /* Reducir el margen inferior entre el icono y el título */
  }
  
  .textwidget p {
    margin: 8px 0px;
    font-size: 14px;
    max-width: 100%; /* Limitar el ancho del texto */
    word-wrap: break-word; /* Asegura que el texto no se desborde */
  }
  